body
{
    background-color: lightslategrey;
    
    
}
h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.sid
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1
{
text-align: center;
font-family: sans-serif;
}
.image
{
    border-style: solid;
    margin-left: 20px;
}
.button
{
 color: white;
 background-color: darkblue;
    
}
.mmd
{
    margin-left: 60px;
}